.categories{
    margin: 56px 0 80px;
}
.categories-item{
    width: 100%;
    height: 200px;
    border-radius: 24px;
    background: linear-gradient(193.82deg, rgba(241.281005859375, 241.281005859375, 242.25, 1),rgba(230.13307189941406, 230.13307189941406, 243.3125, 1) 100%);
    overflow: hidden;
}
.categories-item h4{
    margin-top: 16px;
    margin: 16px 24px 0 24px;
}
.categories-item__img img{
    max-width: 197px;
    margin-left: auto;
    display: block;
}
.categories-swiper .swiper-button-prev{
    left: 16px;
    top: 52%;
}
.categories-swiper .swiper-button-next{
    right: 16px;
    top: 52%;
}

@media (max-width: 1125px) {
    .categories-swiper{
        margin-right: -12px;
    }
    .categories-swiper .swiper-slide{
        width: 180px;
        height: 160px;
    }
    .categories-item {
        height: 100%;
        border-radius: 12px;
    }
    .categories-item h4{
        font-size: 16px;
        line-height: 24px;
        margin: 12px 12px 8px 12px;
    }
    .categories-item__img{
        margin-left: 46px;
    }
    .categories-item__img img{
        max-width: 128px;
    }
}