.header {
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
}
.header__top {
	background-color: #F4F4F5;
	padding: 8px 0;
}
.header__top-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
}

.header__menu {
	display: flex;
	align-items: center;
	gap: 40px;
	
}
.header__contacts {
	display: flex;
	align-items: center;
}
.header__contacts a{
	display: flex;
	align-items: center;
	justify-content: center;
}
.header__contacts .telegram{
	margin-left: 12px;
}
.header__contacts .mail,
.header__contacts .phone{
	margin-left: 24px;
}
.header__btn{
	margin-left: 8px;
	margin-right: 20px;
	font-size: 14px;
	line-height: 20px;
}
.header__bottom {
	padding: 18px 0;
	transition: all 0.2s ease;
	background-color: #fff;

}

.header__bottom.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header__bottom-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
	/* position: relative; */
}

/* Предотвращаем всплытие событий для вложенных слайдеров */
.product-card .swiper {
	touch-action: pan-y;
}
.header__bottom-middle {
	display: flex;
	align-items: center;
	gap: 27px;
}
.header__logo{
	width: 210px;
	height: 38px;
}
.categories-btn {
	height: 44px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;
	padding: 12px 16px 12px 16px;
	border-radius: 48px;
	transition: all 0.3s ease;
	cursor: pointer;
}
.category-close{
	display: none;
}
.categories-btn.active{
	background: rgba(98, 98, 113, 1);
	color: #fff;
}
.categories-btn.active .category-close{
	display: block;
}
.categories-btn.active .category-open{
	display: none;
}
.bussines-categories-btn {
	height: 44px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;
	padding: 12px 16px 12px 16px;
	white-space: nowrap;
	border-radius: 48px;
	transition: all 0.3s ease;
	cursor: pointer;
}
.bussines-category-close{
	display: none;
}
.bussines-categories-btn.active .bussines-category-open{
	display: none;
}
.bussines-categories-btn.active .bussines-category-close{
	display: block;
}
.bussines-categories-btn.active{
	background: rgba(98, 98, 113, 1);
	color: #fff;
}
.header__search {
	position: relative;
}
.header__search form{
	width: 491px;
	height: 44px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 8px;
	padding: 12px 16px 12px 24px;
	border-radius: 40px;
	background: rgba(249, 249, 249, 1);
}
.header__search:hover  .header__search-result{
	opacity: 1;
	pointer-events: all;
}
.header__search-result {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 10;
	padding-top: 4px;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease 0s;
}

.header__search-result-item {
	background: rgba(255, 255, 255, 1);
	border-radius: 12px;
	overflow: hidden;
	border-radius: 12px;
	box-shadow: 0px 4px 24px 0px rgba(106, 122, 152, 0.15);
	padding: 22px 23px 22px 23px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;

}

.header__search-btn {
	background: transparent;
}
.header__search-input {
	background: transparent;
	width: 423px;
}
.header__search-input::placeholder{
	color: rgba(186, 192, 190, 1);
}
.header__bottom-right {
	display: flex;
	align-items: center;
	gap: 24px;
}
.header__login {
	display: flex;
	align-items: center;
	gap: 8px;
}
.header__compare {
	width: 21px;
	height: 21px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.header__compare span {
	position: absolute;
	top: -4px;
	right: -4px;
	border: 1px solid #fff;
	background: rgba(66, 66, 81, 1);
	width: 16px;
	height: 16px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 10px;
	font-weight: 500;
	line-height: 100%;
}
.header__favorite {
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.header__favorite span {
	position: absolute;
	top: -4px;
	right: -4px;
	border: 1px solid #fff;
	background: rgba(66, 66, 81, 1);
	width: 16px;
	height: 16px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 10px;
	font-weight: 500;
	line-height: 100%;
}
.header__cart {
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.header__cart span {
	position: absolute;
	top: -4px;
	right: -4px;
	border: 1px solid #fff;
	background: rgba(66, 66, 81, 1);
	width: 16px;
	height: 16px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 10px;
	font-weight: 500;
	line-height: 100%;
}
