.hit-products{
    margin-bottom: 79px;
}
.hit-products-swiper .swiper-slide{
    width: 250px;
    height: auto;
}
.hit-status{
    font-size: 12px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    display: block;
    background: rgba(57, 179, 0, 1);
    border-radius: 8px;
    padding: 4px 8px 4px 8px;
}

@media (max-width: 1125px){
    .hit-products-swiper{
        margin-right: -12px;
    }
    
}
@media (max-width: 767px){
    .hit-products{
        margin-bottom: 24px;
    }
    .hit-products-swiper .swiper-slide{
        width: 180px;
    }
}